<h1>Help</h1>
<p>Need assistance? Here are some resources to help you get started:</p>
<ul>
  <li><a href="/about">About Talk X</a></li>
  <li><a href="/contact">Contact Us</a></li>
  <li><a href="/faq">FAQs</a></li>
</ul>