<footer class="footer">
    <small>
        &copy; <%= Time.current.year %> TalkX. All rights reserved.
    </small>
    <nav>
        <ul>
            <li><%= link_to "Privacy Policy", "#" %></li>
            <li><%= link_to "Terms of Service", "#" %></li>
            <li><%= link_to "About", about_path %></li>
        </ul>
    </nav>
</footer>